body
{
  background-color: #5CB85C;
}

.container
{
	background-color: #e3e3e3;
	margin: 1%;
	padding: 1.5%;
}

table
{
  table-layout:fixed;
  width:100%;
}

.panel-heading-login
{
  text-align: center;
}

.r-glyph 
{
  text-align: right;
  vertical-align: middle;
}

.col-sm-6
{
  vertical-align: middle;
}